_:-ms-lang(x), _:-webkit-full-screen, .selectedCheck 
{ 
  color:red;
  background-color:white;
  width: 100%;
  height:100%;
  line-height: 28px;
}
.filterChips {
  display:flex;
  margin-bottom: 6px;
}
.filterButtons {
  margin-right: 4px!important;
  :last-of-type {
    margin-right: 0!important;
  }
}
.filterDigit {
  margin-left: 2px!important;
}