.mainContent > div:first-child > div:nth-of-type(2) > div {
    overflow-y: hidden!important;
}
.bodyWrapper {
    // flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    height: calc(100% - 32px);
}
.mainPlusRight {
    min-height: 100%;
    padding:12px;
    // padding-top:0;
    display: flex;
    flex-direction: row;
    position: relative;
    outline: none;
}
.mainContent {
    // position: relative;
    // display:flex;
    // flex-direction: column;
    flex: 1 1 auto;
    height: calc(100vh - 100px);
    // border:4px solid green;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    // transform: translateX(0);
}